@namespace Bcephal.Blazor.Web.Dashboard.Shared.Dashboard

<div class="card m-0  border-bottom-0 p-1" style="height: calc(var(--bc-content-tabtwo-height) - var(--bc-tab-header-height) - (( (var(--bc-content-tabtwo-height)) * 8) / 100 ) - 0.5rem);">
    <div class="card-body d-flex flex-column p-0 h-100 w-100">
    </div>

</div>


@code {





}
