.dropzone {
    border: 1px dashed #75868a;
}

.no-drop {
    border: 2px dashed red;
}

.liststylenone {
    list-style-type: none;
}

.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
     border: 1px dotted #00ffff;
}

.dragging {
    cursor: grabbing;
}

.pivoticon{
    box-sizing:border-box;
}

