
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#left_pane,
#right_pane {
    top: 0;
    height: 100%;
    position: absolute;
    padding: 10px;
    color: black;
}

#left_pane {
    width: 25%;
    left: 0;
    border-right: 1px solid black;
}

#right_pane {
    width: 75%;
    right: 0;
    border-right: 1px solid green;
}


.measure-content{
  height:33%;
  border: 1px solid #b6ff00
}


.periode-content {
    height: 33%;
    border: 1px solid #ffd800
}


.attribute-content {
    height: 33%;
    border: 1px solid #2458e6
}

.fa-remove{
    color:red;
}