/Bcephal.Blazor.Web/bin
/Bcephal.Blazor.Web/obj
/.vs
/Bcephal.Blazor.Web.Base/obj
/Bcephal.Blazor.Web.Base/bin
/Bcephal.Blazor.Web.Billing/obj
/Bcephal.Blazor.Web.Billing/bin
/Bcephal.Blazor.Web.Dashboard/obj
/Bcephal.Blazor.Web.Dashboard/bin
/Bcephal.Blazor.Web.Form/obj
/Bcephal.Blazor.Web.Form/bin
/Bcephal.Blazor.Web.Reconciliation/obj
/Bcephal.Blazor.Web.Reconciliation/bin
/Bcephal.Blazor.Web.Reporting/obj
/Bcephal.Blazor.Web.Reporting/bin
/Bcephal.Blazor.Web.Scheduling/obj
/Bcephal.Blazor.Web.Scheduling/bin
/Bcephal.Blazor.Web.Sourcing/obj
/Bcephal.Blazor.Web.Sourcing/bin
/Bcephal.Blazor.Web.Archive/bin
/Bcephal.Blazor.Web.Archive/obj
/Bcephal.Blazor.Web.Initiation/bin
/Bcephal.Blazor.Web.Initiation/obj
/Bcephal.Blazor.Web.accounting/bin
/Bcephal.Blazor.Web.accounting/obj
/Bcephal.Blazor.Web.Accounting/obj
/Bcephal.Blazor.Web.Accounting/bin
/Bcephal.Blazor.Web.Administration/obj
/Bcephal.Blazor.Web.Administration/bin
/Bcephal.Blazor.Web.Setting/obj
/Bcephal.Blazor.Web.Setting/bin
*.csproj
*.bak
/Bcephal.Blazor.Web.Setting/bin
/Bcephal.Blazor.Web.Setting/obj
/Bcephal.Blazor.Web.Planification/obj
/Bcephal.Blazor.Web.Planification/bin
/Bcephal.Blazor.Web.Messenger/obj
/Bcephal.Blazor.Web.Messenger/bin
/Bcephal.Blazor.Web.FileManager/obj
/Bcephal.Blazor.Web.FileManager/bin
