

<div class="d-flex flex-row mb-1">
    <div class="mr-1" style="width:70%;">
        <DxTextBox ReadOnly=!Editable @bind-Text=@Value_ @ondblclick="@(() => OpenDialog())" BindValueMode="BindValueMode.OnInput"></DxTextBox>
    </div>
    <div class="d-flex flex-column" style="width: 14%;margin-left:0.5%;margin-right:0.5%;">
        <DxCheckBox Enabled=Editable data-toggle="tooltip" data-placement="left" title="@AppState["DefaultValue"]" CssClass="mt-auto mb-auto ml-auto mr-auto" @bind-Checked="DefaultValue"></DxCheckBox>
    </div>


    <div class="d-flex flex-row mr-1" style="width: 14%;margin-left:0.5%;margin-right:0.5%;">
        @if (RemoveButton || RemoveButton_ || !String.IsNullOrEmpty(Value_))
        {
            <div class="d-flex flex-row mt-auto mb-auto">
                <DxButton Enabled=Editable  IconCssClass="fa fa-remove"
                          RenderStyleMode="ButtonRenderStyleMode.Text"
                          RenderStyle="ButtonRenderStyle.Danger"
                          Click="@(() => CallBackRemove.InvokeAsync(Item))">
                </DxButton>
            </div>
        }
    </div>

</div>

<AttributeValueGridComponent Item=Item
                             @bind-SelectedItemList="SelectedItemList"
                             @bind-Show="Show"
                             @bind-SelectedItem="SelectedItem"
                             AttributeId="AttributeId"
                             CallBackAddorUpdate="CallBackAddorUpdate"
                             AddRenderNext="AddRenderNext"
                             @bind-RemoveButton_="RemoveButton_">
</AttributeValueGridComponent>

