<div class="w-100 h-100" style="background: url(assets/bcephal_loading_init_bakground.PNG) no-repeat center center fixed; background-size: 100% 100%;">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center" style="color:white;">
        <div class="d-flex flex-column">
            <div>
                <h1>404 Not Found </h1>
            </div>
            <div>
                <h3>Sorry, there's nothing at this address.</h3>
            </div>
        </div>
    </div>
</div>
